.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;

  input {
    border: none;
    background-color: rgba(244, 94, 1, 0.386);
    height: 2.5em;
    width: 80%;
    border-radius: 1em;
    text-align: center;
    padding: 12px;

    &:focus {
      outline-color: rgb(225, 233, 7);
    }
  }

  .loginWrapper {
    background-color: white;
    width: 25em;
    height: 30em;
    position: relative;
    border-radius: 1rem;
    box-shadow: 0 0.188em 1.55em rgb(246, 97, 4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .error-message {
      color: red;
      font-size: 0.9em;
      text-align: center;
      margin-top: 0.5em;
    }

    .buttons {
      display: flex;
      justify-content: flex-end;



      .login-btn {
        width: 10em;
        height: 3em;
        background-color: rgb(225, 229, 108);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1em;
        cursor: pointer;
        font-weight: bold;
        &:hover {
          background-color: rgb(225, 233, 7);
          transform: scale(1.05);
        }
      }
    }
  }
}
